<!DOCTYPE html>
<html>
    <head>
        <title>HAECHI - Smart Contract Scanner</title>
        <!-- <link rel="shortcut icon" type = "image/x-icon" href = "./zeze.ico">  -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type = "text/css" rel = "stylesheet" href = "resources/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="resources/js/main.js?v=<%=System.currentTimeMillis()%>"></script>
		
        <style>
            table {
                border-collapse: collapse;
            }
            .tr {
                border-bottom: 1px solid rgb(219, 217, 245);
            }
            td {
                padding: 10px;
                font-size: 1.2rem;
            }
            #1 {
            	font-size: font-size: 2rem;
            }
            .left {
				float: left;
			}
			.title1 {
				font-size: 2.3rem;
			}
			.comment2 {
				font-size: 1.5rem;
			}
			.content4 {
				float: left;
				font-size: 1.3rem;
			}
        </style>
    </head>
    <body>
    	<div id = "temp" style = "display:none;"></div>
        <div id = "main">
            <!-- <div id = "header"></div>  -->
            <div id = "nav">
                <!-- <div class = "nav_list">  -->
                    <!-- <ul class = nav_ul>  -->
                    	<!-- 
                        <li class = "nav_list1">
                            <a id = "home" class = "nav_link1" href = "/"> HAECHI </a></li>
                        -->
                        <!-- <li class = "right_nav" class = "nav_list1">
                            <a class = "nav_link6" href = "javascript:"> LOGIN </a>
                        </li>
                        <li class = "right_nav" class = "nav_list1"><a href = "javascript:"> VULNERABILITY </a></li>
                         -->
                    <!-- </ul>  -->  
                <!-- </div>  -->
            </div>
            <div id = "desc">
            	<span id = "keyword">HAECHI</span> automatically checks Smart Contracts for vulnerabilities and bad practices - it <span id = "highlight"></span>gives a detailed explanation of the problem. We already use it in our security audits. HAECHI engine is now 
            	<a id = "oc" href = "https://github.com/PLASS-Lab/SmartContractWeaknessAnalyzer">open source.</a>
            </div>
            <div id = "issue">
            	<br>
            	<span id = "num_of_scan">{{contractCount}}</span> Contracts scanned<br>
            	<span id = "num_of_issue">{{issuesCount}}</span> Issues founded<br>
            </div>
            
            <div id = "inputs">
            	<form id = "solidiyForm" name = "solidityForm" action = "javascript:onSubmit('{{contractCount}}', '{{issuesCount}}')" method="POST">
            		<p class = "title">Solidity Code</p>
					<input id = "scan" type = "submit" value = "SCAN" style="height:45px; width:200px;">
					
					<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>  -->
					<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
					
					<!-- Ace $(".ace_text-layer").text()ê° íì¤í¸ì-->
					<!--  $('.ace_content').text()  -->
					<!-- $(".ace_gutter-layer").children().eq(2).css("background-color","red");  $(".ace_text-layer").children().eq(2).css("background-color","red");-->

					<style type="text/css" media="screen">
					pre {
						overflow: hidden;
					}

				    #editor {
				    	position: absolute;
				        width: 100%;
				        height: 450px;
				    }
					</style>
					
					<pre id="editor">
pragma solidity^0.4.25;
contract TxUserWallet 
{    
    address owner;    
    function TxUserWallet() public { 
        owner = msg.sender;    
    }    
    function transferTo(address dest, uint amount) public {
        require(tx.origin == owner);
        dest.transfer(amount);   
    }
}
					</pre>
					<script>
					var editor = ace.edit("editor");
					editor.setTheme("ace/theme/nord_dark");
					editor.session.setMode("ace/mode/javascript");
					</script>
					<!-- Ace -->

            		<!-- <textarea class="form-control" spellcheck="false" autofocus id = "solidity" name = 'solidity' rows = "32" cols  ="70" style = "resize:none; width: 100%;"></textarea> -->
            	</form>
            </div>
            <div class = "side" id = "release">
            	<p class = "title">News</p><br><br><br>
            	<ul id = "release_ul">
            		{{#news}}
	                <li>
	                   <p class = "release_title">{{title}}</p>
	                   <p class = "release_date">{{date}}</p>
	                   <p class = "release_text">{{content}}</p>        
	                </li>
	                {{/news}}
	           </ul>
            </div>
            <div class = "side" id = "check">
				<p class = "title">Results</p><br><br><br>
            	<ul id = "release_ul">
           			<li>
		                <a class = "result_link" href = "javascript:click(1)">
		                   <p id = "title1" class = "error_title"> </p>
		                </a>       
		                   <p id = "content1" class = "release_text"> </p>
		                   <p id = "line1" class = "release_date"></p>
		            </li>
           			<li>
		                <a class = "result_link" href = "javascript:click(2)">
		                   <p id = "title2" class = "error_title"> </p>  
		                </a>   
		                   <p id = "content2" class = "release_text"> </p>
		                   <p id = "line2" class = "release_date"></p>
		                  
		            </li>
		            <li>
		                <a class = "result_link" href = "javascript:click(3)">
		                   <p id = "title3" class = "error_title"> </p> 
		                </a>
		                   <p id = "content3" class = "release_text"> </p>
		                   <p id = "line3" class = "release_date"></p>
		            </li>
		            <!-- 
		            <li>
		                <a class = "result_link" href = "javascript:click(4)">
		                   <p id = "title4" class = "error_title"><%= titleList.get(3)%></p>     
		                </a>
		                   <p id = "content4" class = "release_text"><%= contentList.get(3)%></p>
		                   <p id = "line4" class = "release_date"></p>
  
		            </li>
		             -->
		            <li>
		                <a class = "result_link" href = "javascript:click(5)">
		                   <p id = "title5" class = "error_title"> </p>     
		                </a>
		                   <p id = "content5" class = "release_text"> </p>
		                   <p id = "line5" class = "release_date"></p>
  
		            </li>
       				<li>
		                <a class = "result_link" href = "javascript:click(6)">
		                   <p id = "title6" class = "error_title"> </p>  
		                </a>   
		                   <p id = "content6" class = "release_text"> </p>
		                   <p id = "line6" class = "release_date"></p>
  
		            </li>
		            <li>
		                <a class = "result_link" href = "javascript:click(7)">
		                   <p id = "title7" class = "error_title"> </p> 
		                </a>     
		                   <p id = "content7" class = "release_text"> </p>
		                   <p id = "line7" class = "release_date"></p>
 
		            </li>
		            <li>
		                <a class = "result_link" href = "javascript:click(8)">
		                   <p id = "title8" class = "error_title"> </p>  
		                </a>    
		                   <p id = "content8" class = "release_text"> </p>
		                   <p id = "line8" class = "release_date"></p> 
		            </li>				            				            
	           </ul>
	           
            </div> <!-- side -->
            <div id = "results1" class = "result">
				<div class = "title1"></div><br>
				<div class = "comment2"></div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>

					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
            <div id = "results2" class = "result">
				<div class = "title1">r</div><br>
				<div class = "comment2">.</div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>
			
					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
            <div id = "results3" class = "result">
				<div class = "title1"></div><br>
				<div class = "comment2"></div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>

					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
            <div id = "results4" class = "result">
				<div class = "title1"></div><br>
				<div class = "comment2"></div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>
			
					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
            <div id = "results5" class = "result">
				<div class = "title1"></div><br>
				<div class = "comment2"></div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>
	
					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
            <div id = "results6" class = "result">
				<div class = "title1"></div><br>
				<div class = "comment2"></div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>
			
					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
            <div id = "results7" class = "result">
				<div class = "title1"></div><br>
				<div class = "comment2">.</div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>

					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
            <div id = "results8" class = "result">
				<div class = "title1"></div><br>
				<div class = "comment2"></div>
				<div class = "menu3"><br>
					<a class = "result_link" href = "javascript:select(1)">
						<div class = "left rec">
							RECOMMENDATION
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(2)">
						<div class = "left eg">
							EXAMPLE
						</div>
					</a>
					<a class = "result_link" href = "javascript:select(3)">
						<div class = "left link">
							LINKS
						</div>
					</a>
				</div>
				<div class = "event1">
					
				</div>
				<div class = "event2">
					<pre>

					</pre>
				</div>
				<div class = "event3">
					<a class = "result_link" href = "">
						
					</a>
				</div><br><br>
            </div>
         
            
        </div>
        <div id = "mask"></div>
        <div id = "blank"> </div>
        <div id = "footer">
            <div id = "footer_content">
            	Copyright 2019. PL
            </div>
        </div>

		

    </body>
</html>
